<section class="training">
  <div class="container pt-5 pb-5">
    <h2 class="text-center title mt-3 mb-4">Capacitaciones</h2>
    <p class="text-center mt-4 mb-4 text-content">
      Ofrecemos capacitaciones con Maniquí (simulador) dirigido a
      establecimientos con gran afluencia de personas (colegios, centros
      comerciales, bancos etc), orientada a que el personal sin formación en
      salud, pueda realizar una intervención oportuna y con conocimiento.
    </p>
    <div class="row mt-4 mb-3">
      <div class="col-md-3">
        <div class="card card-body border-0 shadow text-center p-4 mb-3">
          <div class="icon text-center">
            <img src="../../../assets/img/training/Orion_health.svg" alt="Icon Training">
          </div>
          <h6 class="text-center title-training mt-2">Danper</h6>
          <p class="text-center text-content mb-3">Reanimación Cardiopulmonar(BLS – RCP) realizado en Danper con asistencia de 20 personas</p>
          <a class="btn btn-sm btn-primary">Contacto</a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card card-body border-0 shadow text-center p-4 mb-3">
          <div class="icon text-center">
            <img src="../../../assets/img/training/Orion_health.svg" alt="Icon Training">
          </div>
          <h6 class="text-center title-training mt-2">Grupo Rocio</h6>
          <p class="text-center text-content mb-3">Manejo Básico del Trauma (BTLS) relizado en Grupo Rocio con asistencia de 25 personas.</p>
          <a class="btn btn-sm btn-primary">Contacto</a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card card-body border-0 shadow text-center p-4 mb-3">
          <div class="icon text-center">
            <img src="../../../assets/img/training/Orion_health.svg" alt="Icon Training">
          </div>
          <h6 class="text-center title-training mt-2">Transporte Linea</h6>
          <p class="text-center text-content mb-3">Plan de Emergencia y Triaje Extra hospitalario relizado en Grupo Rocio con asistencia de 25 personas.</p>
          <a class="btn btn-sm btn-primary">Contacto</a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card card-body border-0 shadow text-center p-4 mb-3">
          <div class="icon text-center">
            <img src="../../../assets/img/training/Orion_health.svg" alt="Icon Training">
          </div>
          <h6 class="text-center title-training mt-2">Servicios Fruticolas</h6>
          <p class="text-center text-content mb-3">Programa de capacitación realizado en Servicios Fruticolas con gran asistencia.</p>
          <a class="btn btn-sm btn-primary">Contacto</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="enterprise">
  <div class="container text-center">
    <div class="content-logo">
        <img src="../../../assets/img/training/logo_danper.png" class="logo" alt="Logo Danper">
        <img src="../../../assets/img/training/logo_linea.png" class="logo" alt="Logo Transporte Linea">
        <img src="../../../assets/img/training/logo_rocio.png" class="logo" alt="Logo Grupo Rocio">
    </div>
  </div>
</section>
