<section class="training">
  <div class="container pt-5 pb-5">
    <h2 class="text-center title mt-3 mb-4">Capacitaciones</h2>
    <p class="text-center mt-4 mb-4 text-content">
      Ofrecemos capacitaciones con Maniquí (simulador) dirigido a
      establecimientos con gran afluencia de personas (colegios, centros
      comerciales, bancos etc), orientada a que el personal sin formación en
      salud, pueda realizar una intervención oportuna y con conocimiento.
    </p>
    <div class="row mt-4 mb-3">
      <div class="col-md-3">
        <div class="card card-body border-0 shadow text-center p-4 mb-3">
          <div class="icon text-center">
            <img
              src="../../../assets/img/training/Orion_health.svg"
              alt="Icon Training"
            />
          </div>
          <h6 class="text-center title-training mt-2">Danper</h6>
          <p class="text-center text-content mb-3">
            Reanimación Cardiopulmonar(BLS – RCP) realizado en Danper con
            asistencia de 20 personas
          </p>
          <button
            class="btn btn-sm btn-primary"
            type="button"
            data-toggle="modal"
            data-target="#modalDanper"
          >
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <circle cx="12" cy="12" r="2" />
              <path d="M22 12c-2.667 4.667 -6 7 -10 7s-7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7" />
            </svg>
            Vista
          </button>
          <div
            class="modal fade"
            id="modalDanper"
            tabindex="-1"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered border-0">
              <div class="modal-content border-0 pl-2 pr-2 pb-2">
                <div class="p-0 m-0 text-right">
                  <button class="btn bg-white p-0" type="button"  data-dismiss="modal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                    </svg>
                  </button>
                </div>
                <img src="../../../assets/img/training/danper.jpg" alt="Imagen Danper">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card card-body border-0 shadow text-center p-4 mb-3">
          <div class="icon text-center">
            <img
              src="../../../assets/img/training/Orion_health.svg"
              alt="Icon Training"
            />
          </div>
          <h6 class="text-center title-training mt-2">Grupo Rocio</h6>
          <p class="text-center text-content mb-3">
            Manejo Básico del Trauma (BTLS) relizado en Grupo Rocio con
            asistencia de 25 personas.
          </p>
          <button
            class="btn btn-sm btn-primary"
            type="button"
            data-toggle="modal"
            data-target="#modalRocio"
          >
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <circle cx="12" cy="12" r="2" />
              <path d="M22 12c-2.667 4.667 -6 7 -10 7s-7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7" />
            </svg>
            Vista
          </button>
          <div
            class="modal fade"
            id="modalRocio"
            tabindex="-1"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered border-0">
              <div class="modal-content border-0 pl-2 pr-2 pb-2">
                <div class="p-0 m-0 text-right">
                  <button class="btn bg-white p-0" type="button"  data-dismiss="modal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                    </svg>
                  </button>
                </div>
                <img src="../../../assets/img/training/grupo-rocio.jpg" alt="Imagen Danper">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card card-body border-0 shadow text-center p-4 mb-3">
          <div class="icon text-center">
            <img
              src="../../../assets/img/training/Orion_health.svg"
              alt="Icon Training"
            />
          </div>
          <h6 class="text-center title-training mt-2">Transporte Linea</h6>
          <p class="text-center text-content mb-3">
            Plan de Emergencia y Triaje Extra hospitalario relizado en Grupo
            Rocio con asistencia de 25 personas.
          </p>
          <button
            class="btn btn-sm btn-primary"
            type="button"
            data-toggle="modal"
            data-target="#modalLinea"
          >
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <circle cx="12" cy="12" r="2" />
              <path d="M22 12c-2.667 4.667 -6 7 -10 7s-7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7" />
            </svg>
            Vista
          </button>
          <div
            class="modal fade"
            id="modalLinea"
            tabindex="-1"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered border-0">
              <div class="modal-content border-0 pl-2 pr-2 pb-2">
                <div class="p-0 m-0 text-right">
                  <button class="btn bg-white p-0" type="button"  data-dismiss="modal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                    </svg>
                  </button>
                </div>
                <img src="../../../assets/img/training/linea.jpg" alt="Imagen Danper">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card card-body border-0 shadow text-center p-4 mb-3">
          <div class="icon text-center">
            <img
              src="../../../assets/img/training/Orion_health.svg"
              alt="Icon Training"
            />
          </div>
          <h6 class="text-center title-training mt-2">Servicios Fruticolas</h6>
          <p class="text-center text-content mb-3">
            Programa de capacitación realizado en Servicios Fruticolas con gran
            asistencia.
          </p>
          <button
            class="btn btn-sm btn-primary"
            type="button"
            data-toggle="modal"
            data-target="#modalFruticolas"
          >
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <circle cx="12" cy="12" r="2" />
              <path d="M22 12c-2.667 4.667 -6 7 -10 7s-7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7" />
            </svg>
            Vista
          </button>
          <div
            class="modal fade"
            id="modalFruticolas"
            tabindex="-1"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered border-0">
              <div class="modal-content border-0 pl-2 pr-2 pb-2">
                <div class="p-0 m-0 text-right">
                  <button class="btn bg-white p-0" type="button"  data-dismiss="modal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                    </svg>
                  </button>
                </div>
                <img src="../../../assets/img/training/fruticolas.jpg" alt="Imagen Fruticolas">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="enterprise">
  <div class="container text-center">
    <div class="content-logo">
      <img
        src="../../../assets/img/training/logo_danper.png"
        class="logo"
        alt="Logo Danper"
      />
      <img
        src="../../../assets/img/training/logo_linea.png"
        class="logo"
        alt="Logo Transporte Linea"
      />
      <img
        src="../../../assets/img/training/logo_rocio.png"
        class="logo"
        alt="Logo Grupo Rocio"
      />
    </div>
  </div>
</section>

<section class="cotizacion pt-5">
  <div class="container">
    <div class="row mt-4">
      <div class="col-md-7">
        <h4 class="title-cotiza mb-4">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-medical-cross" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#1d2b4f" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M13 3a1 1 0 0 1 1 1v4.535l3.928 -2.267a1 1 0 0 1 1.366 .366l1 1.732a1 1 0 0 1 -.366 1.366l-3.927 2.268l3.927 2.269a1 1 0 0 1 .366 1.366l-1 1.732a1 1 0 0 1 -1.366 .366l-3.928 -2.269v4.536a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1v-4.536l-3.928 2.268a1 1 0 0 1 -1.366 -.366l-1 -1.732a1 1 0 0 1 .366 -1.366l3.927 -2.268l-3.927 -2.268a1 1 0 0 1 -.366 -1.366l1 -1.732a1 1 0 0 1 1.366 -.366l3.928 2.267v-4.535a1 1 0 0 1 1 -1h2z" />
          </svg>
          Cotiza Aquí
        </h4>
        <form action="" class="container">
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label for="name">Nombres y Apellidos</label>
              <input
                type="text"
                class="form-control"
                id="name"
                aria-describedby="nameInput"
                placeholder="Nombres y Apellidos"
                formControlName="name"
              />
              <small id="nameInput" class="form-text text-danger"
                >*(Requerido)</small
              >
            </div>
            <div class="col-md-6 mb-3">
              <label for="emailInput">Correo Electrónico</label>
              <input
                type="email"
                class="form-control"
                id="emailInput"
                aria-describedby="emailHelp"
                placeholder="Email"
                formControlName="email"
              />
              <small id="emailHelp" class="form-text text-danger"
                >*(Requerido)</small
              >
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label for="phoneInput">Telf - Celular</label>
              <input
                type="tel"
                class="form-control"
                id="phoneInput"
                aria-describedby="phoneHelp"
                placeholder="Teléfono o Celular"
                formControlName="phone"
              />
              <small id="phoneHelp" class="form-text text-danger"
                >*(Requerido)</small
              >
            </div>
            <div class="col-md-6 mb-3">
              <label for="provincia">Provincia</label>
              <input
                type="text"
                class="form-control"
                id="provincia"
                aria-describedby="provinciaInput"
                placeholder="Provincia"
                formControlName="provincia"
              />

            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label for="nombreEmpresa">Nombre de la Empresa</label>
              <input
                type="text"
                class="form-control"
                id="nombreEmpresa"
                aria-describedby="nomEmpresaInput"
                placeholder="Nombres de la Empresa"
                formControlName="provincia"
              />
              <small id="nomEmpresaInput" class="form-text text-danger"
                >*(Requerido)</small
              >
            </div>
            <div class="col-md-6 mb-3">
              <label for="rubro">Rubro de la Empresa</label>
              <input
                type="text"
                class="form-control"
                id="rubro"
                aria-describedby="rubroInput"
                placeholder="Rubro de la Empresa"
                formControlName="rubro"
              />
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-12 mb-2">
              <label for="exampleFormControlTextarea1">Consulta</label>
              <textarea
                class="form-control"
                id="exampleFormControlTextarea1"
                rows="4"
                formControlName="message"
                placeholder="Descripción de la consulta"
              ></textarea>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6 mb-4">
              <button class="btn mt-3 mb-3" role="button">
                <i class="fas fa-paper-plane mr-1"></i>Enviar Cotización
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-5 content-img">
        <img src="http://cmedicolaboral.com/wp-content/uploads/2020/06/Doctor-2.png" alt="">
      </div>
    </div>
  </div>
</section>
