.modal-content{
  border-radius: 0;
  transition: .3s all ease-in-out;
}

.modal-content img{
  height: 48vh;
}


.icon img{
  width: 40px;
}

.title{
  font-weight: 600;
}

.title-training{
  font-weight: 600;
}

.title::after{
  content: '';
  display: block;
  position: relative;
  height: 2px;
  width: 10%;
  background-color: #0575e6;
  top: 4px;
  left: 45%;
}

.text-content{
  color: #797979;
  font-weight: 300;
  font-size: 14px;
}

.btn{
  color: #fff;
  border-radius: 0;
  background-color: #0575E6;
  font-size: 14px;
}

.btn:hover{
  background-color: #0054a8;
}


input, textarea{
  font-size: 14px;
}

label{
  font-size: 15px;
}

.card-body{
  border-radius: 0;
}

.enterprise{
  background-color: #F4F7FC;
  width: 100%;
}

.enterprise .logo{
  width: 100px;
}

.enterprise .content-logo{
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cotizacion .content-img {
  display: flex;
  align-items: flex-end;
}

.cotizacion .content-img img{
  width: 480px;
}

.cotizacion .title-cotiza{
  font-weight: 600;
  color: #1d2b4f;
}

.cotizacion .title-cotiza::after{
  content: '';
  display: block;
  height: 3px;
  width: 8%;
  position: relative;
  top: 5px;
  left: 4%;
  background-color: #0575E6;
}

@keyframes animationLogo1 {
  0%{
    width: 100px;
  }
  35%{
    width: 0px;
  }
  75%{
    width: 0px;
  }
  100%{
    width: 100px;
  }
}

@keyframes animationLogo2 {
  0%{
    width: 0px;
  }
  35%{
    width: 100px;
  }
  75%{
    width: 0px;
  }
  100%{
    width: 0px;
  }
}

@keyframes animationLogo3 {
  0%{
    width: 0px;
  }
  35%{
    width: 0px;
  }
  75%{
    width: 100px;
  }
  100%{
    width: 0px;
  }
}


@media screen and (min-width: 1000px) and (max-width: 1150px){
  .cotizacion .content-img img{
    width: 450px;
  }
}

@media screen and (min-width: 767px) and (max-width: 999px){
  .cotizacion .content-img img{
    width: 400px;
  }
}

@media screen and (max-width: 767px){

  .enterprise .logo:nth-child(1){
    animation: 6s animationLogo1  infinite ease-out;
  }
  .enterprise .logo:nth-child(2){
    animation: 6s animationLogo2  infinite ease-out;
  }
  .enterprise .logo:nth-child(3){
    animation: 6s animationLogo3  infinite ease-out;
  }

  .modal-content img{
    height: 40vh;
  }

  .cotizacion .content-img{
    justify-content: center;
  }

  .cotizacion .content-img img{
    width: 300px;
  }

}
