<div class="pre-nav">

</div>
<nav class="navbarLg sticky-top shadow">
  <div class="container content-navbar">
    <img
      class="logo"
      src="../../../../assets/img/logo/logo.svg"
      alt="Logo Family Medical Center"
    />
    <div class="item-nav">
      <div class="div-nav text-center">
        <a routerLink="">Inicio</a>
        <div class="activo" *ngIf="ruta === '/'"></div>
        <div class="circle" *ngIf="ruta !== '/'"></div>
      </div>
      <div class="div-nav">
        <a routerLink="/nosotros">Nosotros</a>
        <div class="activo" *ngIf="ruta === '/nosotros'"></div>
        <div class="circle" *ngIf="ruta !== '/nosotros'"></div>
      </div>
      <div class="div-nav div-services">
        <a>Servicios</a>
        <div class="activo" *ngIf="ruta === rutas[ruta]"></div>
        <div class="circle" *ngIf="ruta !== rutas[ruta]"></div>
          <ul class="drop-services-ul">
            <li routerLink="/servicios">
              <i class="fas fa-user-md mr-1 pl-1"></i>
              Servicios Generales
            </li>
            <li routerLink="/salud-ocupacional">
              <i class="fas fa-user-md mr-1 pl-1"></i>
              Salud Ocupacional
            </li>
            <li>
              <i class="fas fa-user-md mr-1 pl-1"></i>
              SUCAMEC
            </li>
          </ul>
      </div>
      <div class="div-nav">
        <a routerLink="/capacitaciones">Capacitaciones</a>
        <div class="activo" *ngIf="ruta === '/capacitaciones'"></div>
        <div class="circle" *ngIf="ruta !== '/capacitaciones'"></div>
      </div>
      <div class="div-nav">
        <a routerLink="/contacto">Contacto</a>
        <div class="activo" *ngIf="ruta === '/contacto'"></div>
        <div class="circle" *ngIf="ruta !== '/contacto'"></div>
      </div>
    </div>
    <a href="https://familymedicalperu.com/#cotizacion" class="btn btn-primary btn-sm"><i class="fas fa-hand-holding-medical"></i> Cotiza aquí</a>
  </div>
</nav>

<nav
  class="
    navbar navbar-expand-lg
    sticky-top
    navbar-light
    bg-white
    d-md-none d-lg-none d-xl-none
    shadow
  "
>
  <div class="container">
    <a class="navbar-brand" routerLink="">
      <img
        class="logo"
        src="../../../../assets/img/logo/logo.svg"
        alt="Logo Family Medical Center"
      />
    </a>
    <button
      class="navbar-toggler navbar-sm-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mr-auto">
        <a class="nav-link mt-3" routerLink="">Inicio</a>
        <a class="nav-link" routerLink="/nosotros" routerLinkActive="active">Nosotros</a>
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLinkActive="active" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Servicios
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" style="cursor: pointer;" routerLink="/servicios">Servicios Generales</a>
            <hr class="m-1 p-0">
            <a class="dropdown-item" style="cursor: pointer;" routerLink="/servicios">Salud Ocupacional</a>
            <hr class="m-1 p-0">
            <a class="dropdown-item" style="cursor: pointer;" routerLink="/servicios">SUCAMEC</a>
          </div>
        </div>
        <a class="nav-link" routerLink="/capacitaciones" routerLinkActive="active">Capacitaciones</a>
        <a class="nav-link" routerLink="/contacto" routerLinkActive="active">Contacto</a>
      </div>
    </div>
  </div>
</nav>
