
<section class= "container mt-5">
  <div class= "row">
    <div class= "col-md-6">
      <div>
        <p>Nosotros</p>
       </div>
      <div>
        <h2 class= "title text-justify">FAMILY MEDICAL CENTER</h2>
       <p class="text mb-4 text-justify"> Somos una empresa prestadora de servicios de salud a domicilio.
          La experiencia y conocimiento de nuestro equipo de trabajo en el
              manejo del paciente en el hogar permite optimizar recursos y
              ofrecer calidez y seguridad en  cada servicio prestado.</p>
      </div>
      <div class = "row mb-5">
        <div class="col-md-6">
          <div class ="row">
              <div class= "col-md-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-report-medical" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2" />
                  <rect x="9" y="3" width="6" height="4" rx="2" />
                  <line x1="10" y1="14" x2="14" y2="14" />
                  <line x1="12" y1="12" x2="12" y2="16" />
                </svg>
              </div>
              <div class="col-md">
                <h6>Search Best Online
                  Professional</h6>
                <p class="textSub text-justify"> It is a long established
                  fact that a reader will
                  be distracted
                  by the readable.</p>
              </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class ="row">
              <div class= "col-md-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-stethoscope" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <path d="M6 4h-1a2 2 0 0 0 -2 2v3.5h0a5.5 5.5 0 0 0 11 0v-3.5a2 2 0 0 0 -2 -2h-1" />
                  <path d="M8 15a6 6 0 1 0 12 0v-3" />
                  <path  d="M11 3v2" />
                  <path  d="M6 3v2" />
                  <circle cx="20" cy="10" r="2" />
                </svg>
              </div>
              <div class="col-md">
                <h6>Search Best Online
                  Professional</h6>
                <p class =" textMed text-justify"> It is a long established
                  fact that a reader will
                  be distracted
                  by the readable.</p>
              </div>
          </div>
        </div>

      </div>
    </div>
    <div class= "col-md-6 text-md-right">
      <img class= "imagenD" src="../../../assets/img/about/imagen1.png">

    </div>
  </div>

</section>

<section>
  <div class= "row">
    <div class= "primera col-md-6 ">
      <div>
        <h2 class="titleMision text-center">Misión</h2>
       <p class="text1 mb-4 text-justify"> Brindamos al paciente y su familia la mejor atención de salud en su hogar,
         acompañando y conteniendo, priorizando sus necesidades,
         a través de la intervención de todo el equipo interdisciplinario,
          especialmente capacitado en el tema, como todo el equipamiento y materiales necesarios,
          en pos de mejorar su calidad de vida. </p>
      </div>

    </div>
    <div class= "segunda col-md-6">
      <div>
        <h2 class="titleVision text-center" >Visión</h2>
       <p class="text2 mb-4 text-justify"> Ser la empresa de nacional de atención de salud domiciliaria de
        referencia en el cuidado de la salud por la excelencia en la calidad
        de atención, calidez humana, integrando servicios que complementen
        la asistencia del paciente, para la ciudad de Trujillo.  </p>
      </div>

    </div>

  </div>

</section>
