<section class="sucamec">
  <div class="container pt-5 pb-5">
    <main>
      <div class="text-center mt-3 m-0 p-0">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-report-medical"
          width="36"
          height="36"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="#0663C3"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path
            d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2"
          />
          <rect x="9" y="3" width="6" height="4" rx="2" />
          <line x1="10" y1="14" x2="14" y2="14" />
          <line x1="12" y1="12" x2="12" y2="16" />
        </svg>
      </div>
      <h4 class="text-center title mt-2 mb-4 wow flipInY">
        Examen Salud Mental para Licencia de Armas SUCAMEC
      </h4>
      <p class="text-center mt-4 mb-3 text-content wow flipInY">
        Somos Centro Médico Autorizado por SUCAMED para la toma de exámenes
        Psicosomatico y de Salud Mental para la Obtención o Renovación de
        Licencia de Armas y Carnet de Vigilancia.
      </p>
      <div class="row">
        <div
          class="
            col-md-6
            mt-4
            mb-4
            d-flex
            justify-content-center
            align-items-center
          "
        >
          <img
            class="imgSucamec wow fadeInLeft"
            src="../../../assets/img/sucamec/Logo-SUCAMEC.png"
            alt="Logo SUCAMEC"
          />
        </div>
        <div class="col-md-6 mt-4 mb-4">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-medical-cross"
            width="18"
            height="18"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#0575E6"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
              d="M13 3a1 1 0 0 1 1 1v4.535l3.928 -2.267a1 1 0 0 1 1.366 .366l1 1.732a1 1 0 0 1 -.366 1.366l-3.927 2.268l3.927 2.269a1 1 0 0 1 .366 1.366l-1 1.732a1 1 0 0 1 -1.366 .366l-3.928 -2.269v4.536a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1v-4.536l-3.928 2.268a1 1 0 0 1 -1.366 -.366l-1 -1.732a1 1 0 0 1 .366 -1.366l3.927 -2.268l-3.927 -2.268a1 1 0 0 1 -.366 -1.366l1 -1.732a1 1 0 0 1 1.366 -.366l3.928 2.267v-4.535a1 1 0 0 1 1 -1h2z"
            />
          </svg>
          <label class="ml-1 text-mental wow fadeInLeft">SUCAMEC</label>
          <h5 class="subtitle wow fadeInLeft">¿Que es SUCAMEC?</h5>
          <p class="text-justify text-content mt-3 wow fadeInUp">
            La Superintendencia Nacional de Control de Servicios de Seguridad,
            Armas, Municiones y Explosivos de Uso Civil, es una institución
            técnica especializada de alcance nacional, adscrita al Ministerio
            del Interior, con autonomía administrativa, funcional y económica,
            encargada de, entre otros, controlar, administrar, autorizar,
            capacitar, supervisar, fiscalizar, normar y sancionar las
            actividades en el ámbito de los servicios de seguridad privada,
            fabricación, comercio y uso de armas, municiones y conexos,
            explosivos y productos pirotécnicos de uso civil.
          </p>
        </div>
      </div>
    </main>
  </div>
</section>

<section class="salud-mental">
  <div class="row">
    <div class="col-md-6 bg-mental"></div>
    <div class="col-md-6 p-5 bg-text-mental">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-medical-cross"
        width="18"
        height="18"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="#0575E6"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path
          d="M13 3a1 1 0 0 1 1 1v4.535l3.928 -2.267a1 1 0 0 1 1.366 .366l1 1.732a1 1 0 0 1 -.366 1.366l-3.927 2.268l3.927 2.269a1 1 0 0 1 .366 1.366l-1 1.732a1 1 0 0 1 -1.366 .366l-3.928 -2.269v4.536a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1v-4.536l-3.928 2.268a1 1 0 0 1 -1.366 -.366l-1 -1.732a1 1 0 0 1 .366 -1.366l3.927 -2.268l-3.927 -2.268a1 1 0 0 1 -.366 -1.366l1 -1.732a1 1 0 0 1 1.366 -.366l3.928 2.267v-4.535a1 1 0 0 1 1 -1h2z"
        />
      </svg>
      <label class="ml-1 text-mental wow fadeInLeft">Examen de Salud Mental</label>
      <h4 class="subtitle wow fadeInLeft">¿Porqué lo Necesito?</h4>
      <p class="text-content mt-3 mb-3 pr-md-5 pr-sm-3 text-justify wow fadeInLeft">
        Permite averiguar si usted tiene una enfermedad mental. Las enfermedades
        mentales son comunes. Usted puede necesitar una evaluación si tiene
        síntomas de una enfermedad mental. Los síntomas varían dependiendo del
        tipo de enfermedad, pero algunos de los signos son:
      </p>
      <div class="row mb-3 wow fadeInUp">
        <div class="col-auto">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-circle-check"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#0663C3"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <circle cx="12" cy="12" r="9" />
            <path d="M9 12l2 2l4 -4" />
          </svg>
        </div>
        <div class="col">
          <p class="text-content">Preocupación o miedo excesivo.</p>
        </div>
      </div>
      <div class="row mb-3 wow fadeInUp">
        <div class="col-auto">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-circle-check"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#0663C3"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <circle cx="12" cy="12" r="9" />
            <path d="M9 12l2 2l4 -4" />
          </svg>
        </div>
        <div class="col">
          <p class="text-content">Tristeza extrema.</p>
        </div>
      </div>
      <div class="row mb-3 wow fadeInUp">
        <div class="col-auto">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-circle-check"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#0663C3"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <circle cx="12" cy="12" r="9" />
            <path d="M9 12l2 2l4 -4" />
          </svg>
        </div>
        <div class="col">
          <p class="text-content">
            Cambios importantes en la personalidad, los hábitos de alimentación
            o los patrones de sueño.
          </p>
        </div>
      </div>
      <div class="row mb-3 wow fadeInUp">
        <div class="col-auto">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-circle-check"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#0663C3"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <circle cx="12" cy="12" r="9" />
            <path d="M9 12l2 2l4 -4" />
          </svg>
        </div>
        <div class="col">
          <p class="text-content">Grandes fluctuaciones del estado de ánimo.</p>
        </div>
      </div>
      <div class="row mb-3 wow fadeInUp">
        <div class="col-auto">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-circle-check"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#0663C3"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <circle cx="12" cy="12" r="9" />
            <path d="M9 12l2 2l4 -4" />
          </svg>
        </div>
        <div class="col">
          <p class="text-content">Enojo, frustración o irritabilidad.</p>
        </div>
      </div>
      <div class="row mb-3 wow fadeInUp">
        <div class="col-auto">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-circle-check"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#0663C3"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <circle cx="12" cy="12" r="9" />
            <path d="M9 12l2 2l4 -4" />
          </svg>
        </div>
        <div class="col">
          <p class="text-content">Fatiga y falta de energía.</p>
        </div>
      </div>
      <div class="row mb-3 wow fadeInUp">
        <div class="col-auto">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-circle-check"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#0663C3"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <circle cx="12" cy="12" r="9" />
            <path d="M9 12l2 2l4 -4" />
          </svg>
        </div>
        <div class="col">
          <p class="text-content">Confusión y dificultad para concentrarse.</p>
        </div>
      </div>
      <div class="row mb-3 wow fadeInUp">
        <div class="col-auto">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-circle-check"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#0663C3"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <circle cx="12" cy="12" r="9" />
            <path d="M9 12l2 2l4 -4" />
          </svg>
        </div>
        <div class="col">
          <p class="text-content">Sentimientos de culpa o inutilidad.</p>
        </div>
      </div>
    </div>
  </div>
</section>
