<section class="ocupacional">
  <div class="container pt-5">
    <main>
      <div class="text-center mt-3 m-0 p-0">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-stethoscope"
          width="36"
          height="36"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="#0663C3"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path
            d="M6 4h-1a2 2 0 0 0 -2 2v3.5h0a5.5 5.5 0 0 0 11 0v-3.5a2 2 0 0 0 -2 -2h-1"
          />
          <path d="M8 15a6 6 0 1 0 12 0v-3" />
          <path d="M11 3v2" />
          <path d="M6 3v2" />
          <circle cx="20" cy="10" r="2" />
        </svg>
      </div>
      <h3 class="text-center title mt-2 mb-4 wow flipInY">
        Examenes de Salud Ocupacional
      </h3>
      <p class="text-center mt-4 mb-3 text-content wow flipInY">
        Salud ocupacional tiene como objetivo la promoción del bienestar físico,
        mental y social de los trabajadores de todas las profesiones promoviendo
        la adaptación del trabajo al hombre y del hombre a su trabajo .
      </p>
      <div class="row">
        <div
          class="
            col-md-6
            text-center
            d-flex
            justify-content-center
            align-items-end
          "
        >
          <img
            class="imgOcupacional"
            src="../../../assets/img/ocupacional/saludocupacional2.png"
            alt="Salud Ocupacional"
          />
        </div>
        <div class="col-md-6 mt-3">
          <h5 class="mb-3 subtitle wow fadeInLeft">Finalidad:</h5>
          <div class="row mb-3 wow fadeInUp">
            <div class="col-auto">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-circle-check"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="#0663C3"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <circle cx="12" cy="12" r="9" />
                <path d="M9 12l2 2l4 -4" />
              </svg>
            </div>
            <div class="col">
              <p class="text-content">
                Conocer el estado de salud y/o aptitud del trabajador.
              </p>
            </div>
          </div>
          <div class="row mb-3 wow fadeInUp">
            <div class="col-auto">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-circle-check"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="#0663C3"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <circle cx="12" cy="12" r="9" />
                <path d="M9 12l2 2l4 -4" />
              </svg>
            </div>
            <div class="col">
              <p class="text-content">
                La detección precoz de patologías ocupacionales.
              </p>
            </div>
          </div>
          <div class="row mb-3 wow fadeInUp">
            <div class="col-auto">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-circle-check"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="#0663C3"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <circle cx="12" cy="12" r="9" />
                <path d="M9 12l2 2l4 -4" />
              </svg>
            </div>
            <div class="col">
              <p class="text-content">
                La promoción de la salud en el ambiente laboral.
              </p>
            </div>
          </div>
          <div class="row mb-3 wow fadeInUp">
            <div class="col-auto">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-circle-check"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="#0663C3"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <circle cx="12" cy="12" r="9" />
                <path d="M9 12l2 2l4 -4" />
              </svg>
            </div>
            <div class="col">
              <p class="text-content">Vigilancia del trabajador expuesto.</p>
            </div>
          </div>
          <div class="row mb-3 wow fadeInUp">
            <div class="col-auto">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-circle-check"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="#0663C3"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <circle cx="12" cy="12" r="9" />
                <path d="M9 12l2 2l4 -4" />
              </svg>
            </div>
            <div class="col">
              <p class="text-content">
                Evaluar la eficiencia de las medidas preventivas, de control que
                se toman y el IMPACTO de éstas.
              </p>
            </div>
          </div>
          <button class="btn btn-ocupacional ml-3 mb-5" (click)="goContacto()">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-inbox"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="#ffffff"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <rect x="4" y="4" width="16" height="16" rx="2" />
              <path d="M4 13h3l3 3h4l3 -3h3" />
            </svg>
            Contáctanos
          </button>
        </div>
      </div>
    </main>
  </div>
</section>

<section class="item-ocupacional">
  <div class="container pt-5 pb-5">
    <div class="row mt-5">
      <div class="col-md-4 mb-5">
        <div class="card card-body border-0 p-4 wow fadeInLeft">
          <div class="circle-card-1">
            <i class="fas fa-user-md"></i>
          </div>
          <h5 class="mt-4 title-card text-center">
            Examen Médico Pre Ocupacional
          </h5>
          <p class="text-justify text-card mb-3 mt-3">
            Evaluación médica obligatoria realizada al trabajador previo al
            ingreso a un puesto de trabajo, con la finalidad de determinar su
            estado de salud y aptitud para la posición.
          </p>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card card-body border-0 p-4 wow fadeInUp">
          <div class="circle-card-2">
            <i class="fas fa-user-md"></i>
          </div>
          <h5 class="mt-4 title-card text-center">
            Examen Médico Ocupacional Periódico
          </h5>
          <p class="text-justify text-card mb-3 mt-3">
            Evaluación médica realizada al trabajador durante su desempeño, con
            la finalidad de identificar posibles alteraciones en su salud
            asociadas a su puesto de trabajo. Es de carácter preventivo y para
            la detección precoz de Enfermedades relacionadas con el tipo de
            tareas o actividad laboral o que puedan producir algún daño en la
            salud del trabajador.
          </p>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card card-body border-0 p-4 wow fadeInRight">
          <div class="circle-card-3">
            <i class="fas fa-user-md"></i>
          </div>
          <h5 class="mt-4 title-card text-center">
            Examen Médico Post Ocupacional
          </h5>
          <p class="text-justify text-card mb-3 mt-3">
            Evaluación médica realizada al trabajador días previos al cese
            laboral con la finalidad de evaluar su estado de salud antes de su
            retiro efectivo de la empresa.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
