<section class="footer pt-5">
  <div class="item-footer container pb-4">
    <div class="item">
      <div class="img">
        <img class="mb-3" src="../../../../assets/img/logo/logo-blanco.svg" alt="Logo Family Medical Center">
        <p class="item-text">
          Somos una empresa prestadora de servicios de salud a domicilio. La
          experiencia y conocimiento de nuestro equipo de trabajo en el manejo
          del paciente en el hogar permite optimizar recursos y ofrecer calidez
          y seguridad en cada servicio prestado.
        </p>
      </div>
    </div>
    <div class="item">
      <h5 class="item-title mb-3">Servicios</h5>
      <ul class="item-ul">
        <li class="item-li">
          <i class="fas fa-chevron-right"></i>
          Salud Ocupacional
        </li>
        <li class="item-li">
          <i class="fas fa-chevron-right"></i>
          Examen Médicos para la obtención de Brevete
        </li>
        <li class="item-li">
          <i class="fas fa-chevron-right"></i>
          Servicio de Psicología y Psiquiatría
        </li>
        <li class="item-li">
          <i class="fas fa-chevron-right"></i>
          Toma de Muestras a Domicilio
        </li>
      </ul>
    </div>
    <div class="item">
      <h5 class="item-title mb-3">Datos de contacto</h5>
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-pin" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#1456A5" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <circle cx="12" cy="11" r="3" />
        <path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z" />
      </svg>
    </div>
  </div>
  <div class="hr container">
    <hr />
  </div>
  <div class="finally-footer">
    <p class="finally-footer__text">
      © Copyright 2020: Vida Gracia - Desarrollado por:
      <a href="https://www.instagram.com/juniorcr2121/" target="_blank"
        >Junior Carrión</a
      >
      &
      <a href="https://www.instagram.com/juniorcr2121/" target="_blank"
        >Junnior Diaz</a
      >
    </p>
  </div>
</section>
