.title{
  color: deepskyblue;
}
.texto{
  color: #aaaaaa;
}

.psico {
  color: deepskyblue;
}

.text1{
  color: #aaaaaa;
}
.vigilancia{
  color: deepskyblue;
}

.text2{
  color: #aaaaaa;
}

.cuidados{
  color: deepskyblue;
}

.adminMedicamento{
  color: deepskyblue;
}

.enfermeria{
  color: deepskyblue;
}

.electrocardiograma{
  color: deepskyblue;
}
.ecografia{
  color: deepskyblue;
}

.rayos{
  color: deepskyblue;
}

