<section class="container mt-5">
  <div class="row">
    <div class="col md-6">
      <div class="text-center mb-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-building-hospital"
          width="40"
          height="40"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="#215fe9"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <line x1="3" y1="21" x2="21" y2="21" />
          <path d="M5 21v-16a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v16" />
          <path d="M9 21v-4a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v4" />
          <line x1="10" y1="9" x2="14" y2="9" />
          <line x1="12" y1="7" x2="12" y2="11" />
        </svg>
      </div>
      <h2 class="title text-center">Servicios</h2>
      <p class="texto text-center mt-4">
        Nos comprometemos a dar un buen servicio a nuestros pacientes
      </p>
    </div>
  </div>
</section>
<section class="container mt-4 p-4 section-par">
  <div class="row pt-3">
    <div class="primera col-md-6">
      <h4 class="subtitle mb-3">Servicio de Psicologia y Psiquiatría</h4>
      <p class="texto text-justify">
        Nuestro equipo cuenta con profesionales con experiencia en los problemas
        psicológicos de estudiantes universitarios. Contamos con psicólogos de
        distintas orientaciones psicoterapéuticas tales como sistémica,
        cognitiva, humanista y psicodinámica.
      </p>
      <a role="button" (click)="goContacto()" class="btn btn-sm mt-3">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-inbox" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <rect x="4" y="4" width="16" height="16" rx="2" />
          <path d="M4 13h3l3 3h4l3 -3h3" />
        </svg>
        Consultar
      </a>
    </div>
    <div class="col-md-6 text-center">
      <img
        class="imagenD"
        src="../../../assets/img/servicesclinica/psicologia.jpg"
      />
    </div>
  </div>
</section>
<section class="container mt-4 p-4 section-par">
  <div class="row content-par pt-3">
    <div class="col-md-6 text-center">
      <img
        class="imagenD"
        src="../../../assets/img/servicesclinica/vigilancia.jpg"
      />
    </div>
    <div class="segunda col-md-6">
      <h4 class="subtitle mb-3">Vigilancia Médica</h4>
      <p class="texto text-justify">
        Nos desplazamos a los hogares de nuestros pacientes, con el fin dar un
        seguimiento a su salud.
      </p>
      <a role="button" (click)="goContacto()" class="btn btn-sm mt-3">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-inbox" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <rect x="4" y="4" width="16" height="16" rx="2" />
          <path d="M4 13h3l3 3h4l3 -3h3" />
        </svg>
        Consultar
      </a>
    </div>
  </div>
</section>
<section class="container mt-4 p-4 section-par">
  <div class="row pt-3">
    <div class="tercera col-md-6">
      <h4 class="subtitle mb-3">Cuidados Personales</h4>
      <p class="texto text-justify">
        Los Servicios de atención personal son servicios que se les prestan a
        personas con alguna limitación funcional y constan de asistencia con la
        auto atención y con tareas del diario vivir tales como bañarse, higiene
        personal, ambulación y alimentación.
      </p>
      <a role="button" (click)="goContacto()" class="btn btn-sm mt-3">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-inbox" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <rect x="4" y="4" width="16" height="16" rx="2" />
          <path d="M4 13h3l3 3h4l3 -3h3" />
        </svg>
        Consultar
      </a>
    </div>
    <div class="col-md-6 text-center">
      <img
        class="imagenD"
        src="../../../assets/img/servicesclinica/cuidado personal.jpg"
      />
    </div>
  </div>
</section>
<section class="container mt-4 p-4 section-par">
  <div class="row content-par pt-3">
    <div class="col-md-6 text-center">
      <img
        class="imagenD"
        src="../../../assets/img/servicesclinica/medicamentos.jpg"
      />
    </div>
    <div class="cuarta col-md-6">
      <h4 class="subtitle mb-3">Administración de Medicamentos</h4>
      <p class="texto text-justify">
        Administramos medicamentos que requieren ser monitoreados y supervisados
        por personal profesional, así como preparaciones nutricionales entérales
        y parenterales. Este servicio también se presta a nivel domiciliario.
      </p>
      <a role="button" (click)="goContacto()" class="btn btn-sm mt-3">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-inbox" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <rect x="4" y="4" width="16" height="16" rx="2" />
          <path d="M4 13h3l3 3h4l3 -3h3" />
        </svg>
        Consultar
      </a>
    </div>
  </div>
</section>
<section class="container mt-4 p-4 section-par">
  <div class="row pt-3">
    <div class="quinta col-md-6">
      <h4 class="subtitle mb-3">Procedimientos de Enfermería</h4>
      <p class="texto text-justify">
        Curación de heridas, retiro de puntos, alimentación por sonda,
        colocación de sonda nasogástrica y vesical, colocación de vías
        periféricas, limpieza de Tubo de Traqueotomía, Control de funciones
        vitales (Medición de presión arterial, oximetría, frecuencia cardiaca,
        temperatura y frecuencia respiratoria), inyectables.
      </p>
      <a role="button" (click)="goContacto()" class="btn btn-sm mt-3">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-inbox" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <rect x="4" y="4" width="16" height="16" rx="2" />
          <path d="M4 13h3l3 3h4l3 -3h3" />
        </svg>
        Consultar
      </a>
    </div>
    <div class="col-md-6 text-center">
      <img
        class="imagenD"
        src="../../../assets/img/servicesclinica/Enfermeria.jpg"
      />
    </div>
  </div>
</section>
<section class="container mt-4 p-4 section-par">
  <div class="row content-par pt-3">
    <div class="col-md-6 text-center">
      <img
        class="imagenD"
        src="../../../assets/img/servicesclinica/electrocardiograma.jpg"
      />
    </div>
    <div class="sexta col-md-6">
      <h4 class="subtitle mb-3">Toma de Electrocardiograma</h4>
      <p class="texto text-justify">
        Nuestro servicio consiste en realizar el electrocardiograma en su
        domicilio en un trazo digital y darle su estudio impreso en el momento ,
        para que se lo presente a su médico o institución que lo haya
        solicitado.
      </p>
      <a role="button" (click)="goContacto()" class="btn btn-sm mt-3">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-inbox" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <rect x="4" y="4" width="16" height="16" rx="2" />
          <path d="M4 13h3l3 3h4l3 -3h3" />
        </svg>
        Consultar
      </a>
    </div>
  </div>
</section>
<section class="container mt-4 p-4 section-par">
  <div class="row pt-3">
    <div class="septima col-md-6">
      <h4 class="subtitle mb-3">Realización de Ecografías</h4>
      <p class="texto text-justify">
        Ecografías en la comodidad de su domicilio. Unos de los beneficios; sin
        salas de espera ni pérdidas de tiempo, con informe detallado e impresión
        fotográfica en el acto.
      </p>
      <a role="button" (click)="goContacto()" class="btn btn-sm mt-3">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-inbox" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <rect x="4" y="4" width="16" height="16" rx="2" />
          <path d="M4 13h3l3 3h4l3 -3h3" />
        </svg>
        Consultar
      </a>
    </div>
    <div class="col-md-6 text-center">
      <img
        class="imagenD"
        src="../../../assets/img/servicesclinica/ecografias.jpg"
      />
    </div>
  </div>
</section>
<section class="container mt-4 p-4 section-par">
  <div class="row content-par pt-3">
    <div class="col-md-6 text-center">
      <img
        class="imagenD"
        src="../../../assets/img/servicesclinica/rayos x.jpg"
      />
    </div>
    <div class="octaba col-md-6">
      <h4 class="subtitle mb-3">Rayos X</h4>
      <p class="texto text-justify">
        Nuestro Servicio de rayos x a domicilio consiste en que alguno de
        nuestros técnicos radiólogos ira a tomarle su radiografía
        correspondiente desde la comodidad de su hogar, posteriormente la revela
        en nuestra unidad móvil totalmente acondicionada para que su radiografía
        sea entregada en ese mismo momento las 24 hrs del día , los 365 días del
        año.
      </p>
      <a role="button" (click)="goContacto()" class="btn btn-sm mt-3">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-inbox" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <rect x="4" y="4" width="16" height="16" rx="2" />
          <path d="M4 13h3l3 3h4l3 -3h3" />
        </svg>
        Consultar
      </a>
    </div>
  </div>
</section>
<section class="container mb-5 mt-4 p-4 section-par" id="mtc">
  <div class="row pt-3">
    <div class="septima col-md-6">
      <h4 class="subtitle mb-3">Examen Médicos para la obtención de Brevete</h4>
      <p class="texto text-justify">
        El examen médico para brevete es el primer paso para obtener o revalidar
        tu licencia de conducir A1. No puedes empezar ningún trámite para
        obtener o revalidar tu brevete si no apruebas primero el examen médico.
      </p>
      <a role="button" (click)="goContacto()" class="btn btn-sm mt-3">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-inbox" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <rect x="4" y="4" width="16" height="16" rx="2" />
          <path d="M4 13h3l3 3h4l3 -3h3" />
        </svg>
        Consultar
      </a>
    </div>
    <div class="col-md-6 text-center">
      <img
        class="imagenD"
        src="../../../assets/img/servicesclinica/brevete.jpg"
      />
    </div>
  </div>
</section>
