<section class= "container mt-5">
<div class= "row">
  <div class="col md-6">
    <h1 class= "title text-center">Servicios</h1>
    <p class="texto text-center">Nos comprometemos a dar un buen servicio a nuestros pacientes</p>
  </div>
</div>
</section>
<section class="container mt-5">
  <div class ="row">
      <div class ="primera col-md-6">
        <h3 class ="psico text-center">Servicio de Psicologia y Psiquiatría</h3>
        <p class =" text1 text-justify">Nuestro equipo cuenta con profesionales con experiencia en los problemas psicológicos de estudiantes universitarios.
          Contamos con psicólogos de distintas orientaciones psicoterapéuticas tales como sistémica,
          cognitiva, humanista y psicodinámica</p>
      </div>
      <div class="col-md-6 text-md-right">
      <img class="imagenD" src="../../../assets/img/servicesclinica/psicologia.jpg" />
      </div>
  </div>
</section>
<section class ="container mt-5">
  <div class ="row">
    <div class="col-md-6 text-md-right">
      <img class="imagenD" src="../../../assets/img/servicesclinica/vigilancia.jpg" />
    </div>
    <div class ="segunda col-md-6">
      <h3 class ="vigilancia text-center">Vigilancia Médica</h3>
      <p class =" text2 text-justify">Nos desplazamos a los hogares de nuestros pacientes,
        con el fin dar un seguimiento a su salud.</p>
    </div>

</div>
</section>
<section class ="container mt-5">
  <div class ="row">
    <div class ="tercera col-md-6">
      <h3 class ="cuidados text-center">Cuidados Personales</h3>
      <p class =" text2 text-justify">Los Servicios de atención personal son servicios que se les prestan a personas con alguna
        limitación funcional y constan de asistencia con la auto atención y con tareas del diario vivir tales como bañarse,
         higiene personal, ambulación y alimentación.</p>
    </div>
    <div class="col-md-6 text-md-right">
      <img class="imagenD" src="../../../assets/img/servicesclinica/cuidado personal.jpg" />
    </div>
</div>
</section>
<section class ="container mt-5">
  <div class ="row">
    <div class="col-md-6 text-md-right">
      <img class="imagenD" src="../../../assets/img/servicesclinica/medicamentos.jpg" />
    </div>
    <div class ="cuarta col-md-6">
      <h3 class ="adminMedicamento text-center">Administración de Medicamentos</h3>
      <p class =" text2 text-justify">Administramos medicamentos que requieren ser monitoreados y supervisados por
        personal profesional, así como preparaciones nutricionales entérales y parenterales. Este servicio también
         se presta a nivel domiciliario.</p>
    </div>
</div>
</section>
<section class ="container mt-5">
  <div class ="row">
    <div class ="quinta col-md-6">
      <h3 class ="enfermeria text-center">Procedimientos de Enfermería</h3>
      <p class =" text2 text-justify">Curación de heridas, retiro de puntos, alimentación por sonda, colocación de
        sonda nasogástrica y vesical, colocación de vías periféricas, limpieza de Tubo de Traqueotomía, Control de funciones
        vitales (Medición de presión arterial, oximetría, frecuencia cardiaca, temperatura y frecuencia respiratoria),
         inyectables.</p>
    </div>
    <div class="col-md-6 text-md-right">
      <img class="imagenD" src="../../../assets/img/servicesclinica/Enfermeria.jpg" />
    </div>
</div>
</section>
<section class ="container mt-5">
  <div class ="row">
    <div class="col-md-6 text-md-right">
      <img class="imagenD" src="../../../assets/img/servicesclinica/electrocardiograma.jpg" />
    </div>
    <div class ="sexta col-md-6">
      <h3 class ="electrocardiograma text-center">Toma de Electrocardiograma</h3>
      <p class =" text2 text-justify">Nuestro servicio consiste en realizar el electrocardiograma en su domicilio
         en un trazo digital y darle su estudio impreso en el momento ,
         para que se lo presente a su médico o institución que lo haya solicitado.</p>
    </div>
</div>
</section>
<section class ="container mt-5">
  <div class ="row">
    <div class ="septima col-md-6">
      <h3 class ="ecografia text-center">Realización de Ecografías</h3>
      <p class =" text2 text-justify">Ecografías en la comodidad de su domicilio. Unos de los beneficios; sin salas
        de espera ni pérdidas de tiempo, con informe detallado e impresión fotográfica en el acto.</p>
    </div>
    <div class="col-md-6 text-md-right">
      <img class="imagenD" src="../../../assets/img/servicesclinica/ecografias.jpg" />
    </div>
</div>
</section>
<section class ="container mt-5">
  <div class ="row">
    <div class="col-md-6 text-md-right">
      <img class="imagenD" src="../../../assets/img/servicesclinica/rayos x.jpg" />
    </div>
    <div class ="octaba col-md-6">
      <h3 class ="rayos text-center">Rayos X</h3>
      <p class =" text2 text-justify">Nuestro Servicio de rayos x a domicilio consiste en que alguno de nuestros técnicos radiólogos
         ira a tomarle su radiografía correspondiente desde la comodidad de su hogar, posteriormente
         la revela en nuestra unidad móvil totalmente acondicionada para que su radiografía sea entregada
          en ese mismo momento las 24 hrs del día , los 365 días del año.</p>
    </div>

</div>
</section>





